# Dependencies
node_modules/
bun.lockb

# Build outputs
dist/
build/
.out/
.next/
.vite/
.cache/
coverage/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
bun-debug.log*
logs/
*.log

# Editor/OS
.DS_Store
*.swp
*.swo
.idea/
.vscode/*
!.vscode/extensions.json

# Env
.env
.env.*
!.env.example

# Monorepo packages
packages/*/dist
packages/*/.vite
packages/*/node_modules
packages/*/coverage

# Misc
*.local

# TypeScript build info
**/tsconfig.tsbuildinfo
.tsbuildinfo